<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Major Tom discovers your relay server on the local network so you don't have to type its IP address.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_majortom._tcp</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.majortom.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>majortom</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
